{% extends 'base.html' %}

{% block content %}      

{% load crispy_forms_tags %}
    <div class="container">
       <div class="row">
        <div class="col-8">
            <h2>Xarajatlar</h2>
            <form method="POST">
              {% csrf_token %}
              {% load crispy_forms_tags %}
                <div class="mb-3">
                    {{ outcomeform.salary|as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ outcomeform.marketing|as_crispy_field }}
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Jo'natish</button>
                </div>
            </form>
        </div>
       </div>
      </div>
{% endblock %}