{% extends 'base.html' %}

{% block content %}      

{% load crispy_forms_tags %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h2>Daromad</h2>
                {% if request.user.is_superuser %}
                {% else %}
                    <a href="income_create/" type="button" class="btn btn-primary">Qo'shish</a>
                {% endif %}
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Daromadlar (Mahsulot va xizmatlar bo'yicha)</th>
                            <th scope="col">Oylik hisobot uchun </th>
                            <th scope="col">Time </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in income %}
                            <tr>
                                <th scope="row">{{item.income_index}}</th>
                                <td>Joriy oyda olingan daromad</td>
                                <td>{{item.income}}</td>
                                <td>{{item.created_at}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{item.customer_count_index}}</th>
                                <td>Joriy oydagi mijozlar soni</td>
                                <td>{{item.customer_count}}</td>
                                <td>{{item.created_at}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <h2>Xarajatlar</h2>
                {% if request.user.is_superuser %}
                {% else %}
                    <a href="outcome_create/" type="button" class="btn btn-primary">Qo'shish</a>
                {% endif %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Xarajatlar</th>
                            <th scope="col">Oylik hisobot uchun </th>
                            <th scope="col">Time </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in outcome %}
                            <tr>
                                <th scope="row">{{item.salary_index}}</th>
                                <td>Ish haqi</td>
                                <td>{{item.salary}}</td>
                                <td>{{item.created_at}}</td>
                            </tr>
                            <tr>
                                <th scope="row">{{item.marketing_index}}</th>
                                <td>Marketing reklama</td>
                                <td>{{item.marketing}}</td>
                                <td>{{item.created_at}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
