{% extends 'base.html' %}

{% block content %}      

{% load crispy_forms_tags %}
    <h2>Hisobotlar</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Direktori</th>
            <th scope="col">Nomi</th>
            <th scope="col">Joriy Oydgi Daromad</th>
            <th scope="col">Joriy oydagi mijozlar soni</th>
            <th scope="col">Ish haqi</th>
            <th scope="col">Marketing reklama</th>
            <th scope="col">Month</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
            <tr>
              <th scope="row">{{ forloop.counter}}</th>
              <td>{{item.user.last_name}} {{item.user.first_name}}</td>
              <td><a href="report_detail/{{item.business.id}}">{{ item.business.name}}</a></td>
              <td>{{ item.income }}</td>
              <td>{{ item.customer_count }}</td>
              <td>{{ item.salary }}</td>
              <td>{{ item.marketing }}</td>
              <td>{{ item.month }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}