{% extends 'admin/change_list.html' %}
{% load static %}

{% block search %}
    {{ block.super }}
    <div id="toolbar">
        <form id="changelist-search" method="post" action="{% url 'admin:devices_device_add' %}" enctype="multipart/form-data">
            <div>
                <label for="searchbar"><img src="{% static "admin/img/icon-addlink.svg" %}" alt="Adding devices"></label>
                <select name="model">
                    {% for model in models %}
                    <option value="{{ model.id }}">{{ model.name }}</option>
                    {% endfor %}
                </select>
                <input type="file" accept=".xlsx, .xls" name="file">
                <input type="submit" value="Add devices bulk">
            {% csrf_token %}
            </div>
        </form>
    </div>
{% endblock %}